# Paraphrase Detection

In [28]:
from lxml import etree       
import numpy as np
import pandas as pd
import chardet

In [56]:
#формирую dataframe из предложений - информация о парафразах
#Paraphrase classes: -1: non-paraphrases, 0: loose paraphrases, 1: strict paraphrases.
tree = etree.parse('paraphrases.xml')  
root = tree.getroot() 
corpus = root[1]
data = []

for paraphrase in corpus:
    new_pair_data = []
    for field in paraphrase:
        new_pair_data.append(field.text.encode('utf-8'))
    data.append(new_pair_data)

Paraphrases = pd.DataFrame(np.asarray(data), columns = ['pair_id', 'id_1', 'id_2', 'text_1', 'text_2', 'jaccard', 'class'])
Paraphrases[['pair_id', 'id_1', 'id_2', 'jaccard', 'class']] = \
        Paraphrases[['pair_id', 'id_1', 'id_2', 'jaccard', 'class']].apply(pd.to_numeric)
Paraphrases.to_csv("Paraphrases.csv", encoding='utf-8')

In [59]:
#формирую dataframe для предложений - информация о предложениях
#Paraphrase classes: -1: non-paraphrases, 0: loose paraphrases, 1: strict paraphrases.
tree = etree.parse('corpus.xml')  
root = tree.getroot() 
corpus = root[1]
data = []

for sentense in corpus:
    new_sentense = []
    for field in sentense:
        if field.text is None:
            new_sentense.append(None)
        else:
            new_sentense.append(field.text.encode('utf-8'))
    data.append(new_sentense)

Sentences = pd.DataFrame(np.asarray(data), columns = ['id', 'text', 'agency', 'author', 'url', 'date'])
Sentences[['id']] = Sentences[['id']].apply(pd.to_numeric) 
Sentences.to_csv("Sentences.csv", encoding='utf-8')

In [60]:
print "Train data shape: ", Paraphrases.shape
Paraphrases.head()

Train data shape:  (7227, 7)

,pair_id,id_1,id_2,text_1,text_2,jaccard,class
0,1,201,8159,Полицейским разрешат стрелять на поражение по ...,Полиции могут разрешить стрелять по хулиганам ...,0.650000,0
1,2,202,8158,Право полицейских на проникновение в жилище ре...,Правила внесудебного проникновения полицейских...,0.500000,0
2,3,273,8167,Президент Египта ввел чрезвычайное положение в...,Власти Египта угрожают ввести в стране чрезвыч...,0.611429,0
3,4,220,8160,Вернувшихся из Сирии россиян волнует вопрос тр...,Самолеты МЧС вывезут россиян из разрушенной Си...,0.324037,-1
4,5,223,8160,В Москву из Сирии вернулись 2 самолета МЧС с р...,Самолеты МЧС вывезут россиян из разрушенной Си...,0.606218,0

In [61]:
print "Sentences number: ", Sentences.shape
Sentences.head()

Sentences number:  (12062, 6)

,id,text,agency,author,url,date
0,1,"Избежать ""фискального обрыва"": Сенат США подде...",РБК,None,http://top.rbc.ru/economics/01/01/2013/839229....,2013-01-01
1,2,"""Фискальный обрыв"" в США временно предотвращен.",РБК,None,http://top.rbc.ru/economics/01/01/2013/839223....,2013-01-01
2,3,Чечня попросила националистов составить кодекс...,РБК,None,http://top.rbc.ru/society/01/01/2013/839242.shtml,2013-01-01
3,4,Северокорейский лидер впервые за 19 лет поздра...,РБК,None,http://top.rbc.ru/society/01/01/2013/839227.shtml,2013-01-01
4,5,В Кот-Д`Ивуаре десятки человек погибли в давке...,РБК,None,http://top.rbc.ru/incidents/01/01/2013/839240....,2013-01-01

In [34]:
ls

corpus.xml  LICENSE  ParaphraseDetection.ipynb  paraphrases.xml